.chat-line {
  font-size: 14px;
  background: #ffa153;
  width: fit-content;
  border-radius: 24px;
  max-width: 70vw;
  margin-bottom: 18px;
  text-wrap: auto;
  line-break: auto;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
  line-height: 0 !important;
}

.chat-line.assistant {
  box-shadow: -7px 7px #f7ca98;
  animation: assistantMessage 0.3s ease-in-out;
  clear: both;
}

.chat-list > .chat-line:last-child {
  margin-bottom: 0 !important;
}

.chat-line span {
  display: inline-block;
  padding: 12px 20px;
  line-height: 1.5 !important;
}
.chat-line img {
  width: 100%;
}

@keyframes assistantMessage {
  0% {
    translate: -20px 20px;
    opacity: 0.5;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.chat-line.user {
  box-shadow: 7px 7px #98d7f79e;
  animation: userMessage 0.3s ease-in-out;
  float: right;
  background: #39a3ff;
}

@keyframes userMessage {
  0% {
    translate: 20px 20px;
    opacity: 0.5;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.error {
  color: #e56;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  /* text-shadow: 5px 3px 2px #ffb8b8; */
  font-weight: 800;
  /* animation: fade 2s ease-in-out infinite; */
}

.error span {
  text-decoration: underline;
}

.sending {
  color: #ffa153;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  text-shadow: 5px 3px 2px #ffb8b8;
  font-weight: 800;
  animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
    text-shadow: 5px 3px 2px #ffb8b8;
  }
  
  50% {
    opacity: 0.7;
  text-shadow: 1px 3px 2px #ffb8b8;

  }
  100% {
    opacity: 1;
    text-shadow: 5px 3px 2px #ffb8b8;
  }
}