:root {
  font-family: monospace, system-ui;
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(white, #92929236);
  color: #fff;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}