:root {
  font-family: monospace, system-ui;
  line-height: 1.5;
  font-weight: 400;
  background: radial-gradient(white, #92929236);
  color: #fff;
  --max-width: 1024px;
}

body {
  margin: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bg :nth-child(1) {
  border-radius: 999px;
  width: 200px;
  max-width: var(--max-width);
  height: 200px;
  max-height: var(--max-width);
  background: orange;
	filter: blur(50px);
  opacity: 0.7;
  animation: bg1 8s linear infinite;
}

.bg :nth-child(2) {
  border-radius: 999px;
  width: 100px;
  max-width: var(--max-width);
  height: 100px;
  max-height: var(--max-width);
  background: #61C0BF;
	filter: blur(50px);
  opacity: 0.6;
  animation: bg2 10s linear infinite;
}

@keyframes bg1 {
  0% {
    translate: 0 0;
    scale: 1;
  }
  30% {
    translate: 20% 30%;
    scale: 1.2;
  }
  50% {
    translate: 40% 10%;
    scale: 1.4;
  }
  80% {
    translate: -10% -30%;
    scale: 1.2;
  }
  100% {
    translate: 0 0;
    scale: 1;
  }
}

@keyframes bg2 {
  0% {
    translate: 0 0;
    scale: 1;
  }
  30% {
    translate: -20% -20%;
    scale: 1.2;
  }
  60% {
    translate: -40% 50%;
    scale: 1.4;
  }
  100% {
    translate: 0 0;
    scale: 1;
  }
}

/* .bg :nth-child(3) {
  width: 30vw;
  max-width: var(--max-width);
  height: 30vw;
  max-height: var(--max-width);
  background: #E0E2E5;
	filter: blur(50px);
} */
